@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background: rgb(2, 0, 36);
  /* background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(6, 215, 152, 1) 0%,
    rgba(135, 219, 213, 1) 30%,
    rgba(32, 204, 158, 1) 70%
  );
   */
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 100px;
  background-color: #fff;
  border-radius: 5px;
  width: 30%;
  height: 40em;
  box-shadow: 10px 5px 5px rgb(100, 90, 90);
}

.items {
  display: flex;
  flex-direction: column;
}

.items input {
  margin-bottom: 30px;
  padding: 2px 0px;
  padding-bottom: 5px;
  width: 250px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1.5px solid;
  border-bottom-color: grey;
  font-weight: 700;
  color: #585858;
  opacity: 0.55;
}

#title {
  margin-bottom: 30px;
  margin-top: 10px;
  letter-spacing: 5px;
  text-align: center;
  opacity: 0.5;
}

#button {
  padding: 15px 30px;
  /* margin-top: 20px; */
  outline: none;
  border: none;
  font-size: medium;
  font-weight: 600;
  letter-spacing: 5px;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(6, 215, 152, 1) 0%,
    rgba(32, 204, 158, 1) 30%,
    rgba(135, 219, 213, 1) 70%
  );
  color: grey;
}

#button:active {
  transform: translateY(2px);
}

#button text {
  opacity: 0.5;
}

#sign {
  margin-top: 1em;
  text-align: center;
  letter-spacing: 5px;
  cursor: pointer;
  color: rgb(11, 194, 142);
  font-weight: bolder;
  text-decoration: none;
}

#sign:active {
  transform: translateY(2px);
}

::placeholder {
  color: grey;
  text-align: center;
  letter-spacing: 2px;
}





